In [1]:
%matplotlib inline

In [2]:
# dependencies
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
# load/read csv files
city_data_df = pd.read_csv("resources/city_data.csv")
ride_data_df = pd.read_csv("resources/ride_data.csv")

In [9]:
#ride_data_df.head(10)

In [12]:
# get rows/columns that are NOT null
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [13]:
# get data types of each column
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [19]:
# get unique values of type of city
city_data_df["type"].unique()

# get # of data points per city type
n_urban = sum(city_data_df["type"] == "Urban")
n_suburb = sum(city_data_df["type"] == "Suburban")
n_rural = sum(city_data_df["type"] == "Rural")
n_rural

18

In [22]:
# get rows/columns that are NOT null
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [23]:
# get data types of each column
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [29]:
# merge datasets
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban